body{
	background-color: rgb(36, 34, 34);
}

.calc{
	width: 320px;
	margin: 50px auto;
}

.answer{
	background-color: #e4491a;
	padding: 8px;
	font-size: 24px;
	width: 300px;
	height: 46px;
	text-align: right;
	border: 2px solid #eee;
	border-bottom: 5px solid black;
	color: #eee;
}

.answer::placeholder {
	color: #eee;
}

.button{
	background-color: rgb(151, 131, 16);
	width: 80px;
	height: 80px;
	color: #eee;
	font-size: 30px;
	border: 1px solid #eee;
	float: left;
	cursor: pointer;
}

.button1{
	width: 160px;
	background-color: rgb(155, 122, 102);
}